parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
        # Form AbstractType generics / missingType.generics noise
        - src/Form/*
        # Doctrine entity $id unusedType noise (ORM-assigned)
        - src/Entity/*
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors: []

includes:
    - vendor/nowo-tech/phpstan-frankenphp/ruleset-classic.neon
    - vendor/nowo-tech/phpstan-frankenphp/ruleset-worker.neon
