{
	order mercure after encode
	skip_install_trust
}

:80 {
	root * /app/public
	encode zstd br gzip
	mercure {
		anonymous
	}

	php_server {
		hot_reload
		worker {
			file /app/public/index.php
			watch
		}
	}
}
